<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> <%= product.name  %> - Mercadito de café</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://kit.fontawesome.com/9a1fccfd11.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/itemStyle.css">
                
    </head>
    <body>
        <%- include("./partials/header") %>
        
	<div class="body">
		<div class="card">
			<div class="product-img imgBox">
					<img src="/images/products/<%= product.img %>" class="img">
				</div>
			<div class="text">
				<div class="details">
					<div class="title"><h3><%= product.name  %></h3>
						<div class="price">$<%= product.price  %></div>
						<small> 
						
						<p class="prod-long-description"><%= product.description  %></p>
					</small></div>
				</div>
				<div class="description">
					<h4>Detalle</h4>
					<p class="description">
						<small> Presentación: <%= product.size  %> </small>
						<br>
						<%= product.longDescription  %>
					</p>
				</div>

				<div class="btn">
					<a href="#"><button type="button">Comprar<i class="fa-thin fa-cart-shopping-fast"></i></button></a>
					<a href="#"><button type="button"><i class="fa-thin fa-cart-shopping"></i>Agregar al carrito</button></a>
				</div>
			</div>
		</div>
	</div>

        <%- include("./partials/footer") %>
    </body>
</html>