<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mercadito de café - Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/5cc45362ff.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/homeStyle.css">
                
    </head>
    <body>
        <%- include("./partials/header") %>
        
        <%- include("./partials/slide") %>
        
        <div class="container">
            <main>
                <section class="last-visit">
                    <h3>Productos nuevos</h3>
                <div class="products">

                    <% newProducts.forEach(product => { %>
                        <%- include('./partials/product', { product }) %>
                    <% });  %>


                    </div>
                </section>
    
                <section class="offers">
                    <h3>Ofertas</h3>
                    <div class="products">
                        
                        <% saleProducts.forEach(product => { %>
                            <%- include('./partials/product', { product }) %>
                        <% });  %>
    
            
                        </div>  --> 
                </section>
        </div>


        <%- include("./partials/footer") %>
    </body>
</html>