<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mercadito de café - Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/5cc45362ff.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/homeStyle.css">
    </head>
    <body>
        <%- include("./partials/header") %>
        
        <%- include("./partials/slide") %>
        <div class="container">
            <main>

                <section class="last-visit">
                    <h3>Basado en tu última visita</h3>
                    <div class="products">
    
                        <% for( const producto of visita ) {  %>
    
                            <%- include('./partials/producto', { producto }) %>
    
                        <% } %>
                      
                    </div>
                </section>
    
                <section class="offers">
                    <h3>Ofertas</h3>
                    <div class="products">
    
                        
                        <% for( const producto of oferta ) {  %>
    
                            <%- include('./partials/producto', { producto }) %>
    
                        <% } %>
                        
                    </div>  
                </section>
        </div>


        <%- include("./partials/footer") %>
    </body>
</html>