<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mercadito de café - Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/5cc45362ff.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/loginStyle.css">
        <script src="/js/loginUser.js"></script>
    </head>
    <body>
        <%- include("./partials/header") %>


            <div class="container">
                <h3>Ingresar</h3>
                <% if (locals.message && message) { %>
                    <span class="text-danger">
                        <%= message %>
                    </span>
                    <% } %>
            <form action="/user/login" method="POST">
                <div>
                    <label for="email" class="label-input"></label>
                    <input 
                        id="email" 
                        type="email" 
                        class="field" 
                        placeholder="Email" 
                        name="email">
                        <% if (locals.errors && errors.email) { %>
                        <span class="text-danger" id="emailError">
                            <%= errors.email.msg %>
                        </span>
                        <% } %>  
                </div>
                <div>
                    <label for="password" class="label-input"></label>
                    <input 
                        id="password"
                        type="password" 
                        class="field" 
                        placeholder="Contraseña" 
                        name="password">
                        <% if (locals.errors && errors.password) { %>
                            <span class="text-danger" id="passwordError">
                                <%= errors.password.msg %>
                            </span>
                            <% } %>
                        
                </div>
                <div>
                <label class="checkRecordar" for="recordar">Recordarme
                    <input type="checkbox" style="margin-left: 10px;" name="rememberMe" id="recordar">
                </label></div>
                <div><input class="btn" type="submit" value="Ingresar"></div>
            </form>
        </div>
        <%- include("./partials/footer") %>
    </body>
</html>