<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Editando producto</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/5cc45362ff.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/createStyle.css">
	
</head>
<body>
	<%- include('./partials/header') %>
	<!-- /Header -->

	<div class="container">
		<div class="row">

				<h2 class="product-title">Editando <i><%= productToEdit.name %></i></h2>
		</div>
		<div class="container-form">
			<form action="/product/edit/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
				<div class="row product-detail">
					<div>
						<label for="name" class="form-label"></label>
						<input type="text" id="name" name="name" value="<%= productToEdit.name %>" placeholder="Nombre del producto" class="form-input">
					</div>
					<div>
						<label for="price" class="form-label"></label>
						<input type="text" id="price" name="price" value="<%= productToEdit.price %>" placeholder="Precio" class="form-input">
					</div>
					<div>
						<label for="discount" class="form-label"></label>
						<input type="text" id="discount" name="discount" value="<%= productToEdit.discount %>" placeholder="Descuento" class="form-input">
					</div>
					<div>
						<label for="sellingCategory" class="form-label"></label>
						<select name="sellingCategory" id="sellingCategory" class="form-input">
							<option disabled selected>Tipo de venta</option>
							<option value="in-sale" <%= (productToEdit.sellingCategory == "in-sale")? "selected":"" %> >En oferta</option>
							<option value="visited" <%= (productToEdit.sellingCategory == "visited")? "selected":"" %> >Últimos agregados</option>
						</select>
					</div>
					<div>
						<label for="category" class="form-label"></label>
						<select name="category" id="category" class="form-input">
							<option disabled selected>Tamaño</option>
							<option value="250gr" <%= (productToEdit.size == "250gr")? "selected":"" %> >250gr</option>
							<option value="1kg" <%= (productToEdit.size == "1kg")? "selected":"" %> >1kg</option>
							<option value= null <%= (productToEdit.size == "N/A")? "selected":"" %> >N/A</option>
						</select>
					</div>
					<div>
						<label for="description" class="form-label"></label>
						<textarea name="description" id="description" class="form-input"><%= productToEdit.description %></textarea>
					</div>
					<div>
						<label for="img" class="btn-foto">Foto del producto</label>
						<br><input type="file" id="img" name="img" style="visibility: collapse;" class="form-input">
					</div>
					<div>
						<button type="submit" class="btn-foto">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<!-- footer -->
	<%- include('./partials/footer') %>
</body>	
</html>