<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Creando producto</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/5cc45362ff.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/createStyle.css">
	
</head>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<div class="container">
				<h2 class="products-title">Formulario de creación de productos</h2>
		
		<div class="container-form">
			<form action="/product/create" method="POST" enctype="multipart/form-data">
				<div class="row product-detail">
					<div>
						<label for="name" class="form-label"></label>
						<input name="name" type="text" id="name" placeholder="Nombre del producto" class="form-input"
							<% if (locals.oldData && oldData.name) { %>
								value = "<%= oldData.name %>"
							<% } %>>
							<% if (locals.errors && errors.name) { %>
							<span class="text-danger">
								<%= errors.name.msg %>
							</span>
							<% } %>
					</div>
					<div>
						<label for="price" class="form-label"></label>
						<input name="price" type="text"id="price" placeholder="Precio" class="form-input"
							<% if (locals.oldData && oldData.price) { %>
								value = <%= oldData.price %> 
							<% } %>>
							<% if (locals.errors && errors.price) { %>
							<span class="text-danger">
								<%= errors.price.msg %>
							</span>
							<% } %>
					</div>
					<div>
						<label for="discount" class="form-label"></label>
						<input name="discount" type="text" id="discount" placeholder="Descuento" class="form-input"
							<% if (locals.oldData && oldData.discount) { %>
								value = <%= oldData.discount %> 
							<% } %>>
							<% if (locals.errors && errors.discount) { %>
							<span class="text-danger">
								<%= errors.discount.msg %>
							</span>
							<% } %>
					</div>
					<div>
						<label for="size" class="form-label"></label>
						<select name="size" id="size" class="form-input">
							<option disabled selected>Tamaño/peso</option>
							<option value="250gr">250gr</option>
							<option value="1kg">1kg</option>
							<option value= null>N/A</option>
						</select>
					</div>
					<div>
						<label for="category" class="form-label"></label>
						<select name="category" id="category" class="form-input">
							<option disabled selected>Categoría</option>
							<option value="cafe">Café</option>
							<option value="cafeteras">Cafeteras</option>
							<option value="accesorios">Accesorios</option>
						</select>
					</div>
					<div>
						<label for="sellingCategory" class="form-label"></label>
						<select name="sellingCategory" id="sellingCategory" class="form-input">
							<option disabled selected>Tipo de venta</option>
							<option value="sale">Oferta</option>
							<option value="new">Sin oferta</option>
						</select>
					</div>
					<div>
						<label for="longDescription" class="form-label"></label>
						<textarea name="longDescription" id="longDescription" class="form-input" placeholder="Descripción del producto"
							<% if (locals.oldData && oldData.longDescription) { %><%=oldData.longDescription%><% } %>></textarea>
							<% if (locals.errors && errors.longDescription) { %>
							<span class="text-danger">
								<%= errors.longDescription.msg %>
							</span>
							<% } %>
					</div>
					<div>
						<label for="description" class="form-label"></label>
						<textarea name="description" id="description" class="form-input" placeholder="Descripción corta"
							<% if (locals.oldData && oldData.description) { %><%=oldData.description%><% } %>></textarea>
							<% if (locals.errors && errors.description) { %>
							<span class="text-danger">
								<%= errors.description.msg %>
							</span>
							<% } %>
					</div>
					<div>
						<label for="img" class="btn-foto">Foto del producto</label>
						<br><input type="file" id="img"  name="img" class="form-input">
					</div>
				</div>
			</div>
						<button type="submit" class="btn-save">Guardar producto</button>

				
			</form>
		
	</div>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>